{% extends 'suka_admin/base.html' %}
{% load static %}

{% block product_list %}
    <section class="container-sm px-0">
        <!-- Botón para agregar producto -->
        <div class="container-fluid mb-4">
            <div class="row align-items-center">
                <div class="col px-0">
                    <h1 class="m-0 fs-3">Productos</h1>
                </div>
                <div class="col d-flex justify-content-end px-0">
                    <a href="{% url 'productApp:product-create' %}"
                       class="text-decoration-none bg-primary text-primary-strong d-flex gap-2 align-items-center rounded pe-2 shadow-sm hover-scale-1">
                        <div class="bg-primary-strong py-2 px-2 rounded-start h-100">
                            <i class="fi fi-rr-pie fs-5 text-white-1"></i>
                        </div>
                        Agregar producto
                    </a>
                </div>
            </div>
        </div>

        <!-- Filtros de búsqueda -->
        <section class="container-fluid">
            <form method="get" class="row border-0 px-2 py-4 rounded-2 bg-white-2">
                <!-- Filtros -->
                <div class="col col-10">
                    <h5 class="card-title mb-3 fs-5 text-dark-6">Filtros de búsqueda</h5>
                    <div class="row">
                        <div class="col col-auto">
                            <!-- Campo de filtro por nombre -->
                            {{ SearchProductForm.productName.label }}
                            {{ SearchProductForm.productName }}
                        </div>
                        <div class="col col-auto">
                            <!-- Campo de filtro por categoría (opciones dinámicas) -->
                            {{ SearchProductForm.productCategory.label }}
                            {{ SearchProductForm.productCategory }}
                        </div>
                    </div>
                </div>
                <!-- Botón de búsqueda -->
                <div class="col d-flex justify-content-end align-items-center">
                    <button type="submit"
                            class="btn btn-primary-strong text-white-2 d-flex gap-3 align-items-center hover-scale-1">
                        <i class="fi fi-rr-search"></i>Buscar
                    </button>
                </div>
            </form>
        </section>

        <!-- Listado de Productos -->
        <section class="container-fluid mt-5">
            <h3 class="fw-light text-dark-6">Listado de productos</h3>
            <!-- Productos encontrados -->
            <div class="mt-3">
                {% if product_list %}
                    <p class="text-muted">Mostrando {{ product_list|length }} producto(s)</p>
                    <div class="row row-cols-1 gy-3">
                        {% for product in product_list %}
                            <div class="col bg-white-2 rounded-2 shadow-sm p-3">
                                <div class="row align-items-center">
                                    <div class="col col-10">
                                        <div class="row">
                                            <div class="col col-2 d-flex align-items-center">
                                                {% if product.images.exists %}
                                                    <img src="{{ product.images.first.image.url }}" class="img-fluid rounded-1" alt="{{ product.name }}">
                                                {% else %}
                                                    <img class="img-fluid p-3" src="{% static 'img/cakes/cake_icon_on_null.png' %}" alt="{{ product.name }}">
                                                {% endif %}
                                            </div>
                                            <div class="col col-10 d-flex justify-content-between">
                                                <div class="d-flex flex-column justify-content-between">
                                                    <div>
                                                         <h4>{{ product.name }}</h4>
                                                    <p class="fw-light opacity-75">{{ product.description }}</p>
                                                    </div>
                                                    <div class="">
                                                        <h2 class="fw-bold text-success-strong">$ {{ product.price }}</h2>
                                                    </div>
                                                </div>
                                                <div class="">
                                                    <span class="badge rounded-pill text-bg-secondary">{{ product.category }}</span>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col d-flex gap-4 justify-content-end me-3">
                                                <a href="{% url 'productApp:admin-product-update' product.pk %}" class="btn btn-success rounded-circle p-3 hover-scale-2 text-white-2"><i class="fi fi-rr-pencil"></i></a>
                                                <button type="button" class="btn btn-danger rounded-circle p-3 hover-scale-2"
                                                        onclick="prepareDeleteModal('{{ product.id }}', '{{ product.name|escapejs }}')"
                                                        data-bs-toggle="modal"
                                                        data-bs-target="#deleteProductModal">
                                                    <i class="fi fi-rr-trash text-white-2"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <!-- Mensaje si no se encuentran productos -->
                    <p>No se encontraron productos que coincidan con:</p>
                    <ul>
                        {% if query_params.product_name %}
                            <li><strong>Nombre:</strong> {{ query_params.product_name }}</li>
                        {% endif %}
                        {% if query_params.product_category %}
                            <li><strong>Categoría:</strong> {{ query_params.product_category }}</li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>

            <!-- Paginación -->
            {% if is_paginated %}
                <section class="container-fluid px-0 mt-5">
                    <!-- Mensaje de Paginación -->
                    <div class="alert alert-secondary text-center">
                        Página <strong>{{ page_obj.number }}</strong> de <strong>{{ page_obj.paginator.num_pages }}</strong>
                    </div>

                    <!-- Navegación de Páginas -->
                    <nav class="row justify-content-center">
                        <div class="col col-12">
                            <ul class="pagination justify-content-center">
                                <!-- Botón para Primera Página -->
                                {% if page_obj.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link link-primary-strong text-bg-primary-light" href="?page=1{% for key, value in query_params.items %}&{{ key }}={{ value }}{% endfor %}">
                                            Primera
                                        </a>
                                    </li>
                                    <li class="page-item h-100">
                                        <a class="page-link link-primary-strong text-bg-primary-light" href="?page={{ page_obj.previous_page_number }}{% for key, value in query_params.items %}&{{ key }}={{ value }}{% endfor %}">
                                            <i class="fi fi-rr-angle-left fs-4"></i>
                                        </a>
                                    </li>
                                {% endif %}

                                <!-- Páginas enumeradas -->
                                {% for num in page_obj.paginator.page_range %}
                                    {% if num == page_obj.number %}
                                        <li class="page-item active">
                                            <span class="page-link bg-primary-strong">{{ num }}</span>
                                        </li>
                                    {% elif num > page_obj.number|add:"-3" and num < page_obj.number|add:"3" %}
                                        <li class="page-item">
                                            <a class="page-link text-primary-strong" href="?page={{ num }}{% for key, value in query_params.items %}&{{ key }}={{ value }}{% endfor %}">
                                                {{ num }}
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endfor %}

                                <!-- Botón para Siguiente Página -->
                                {% if page_obj.has_next %}
                                    <li class="page-item">
                                        <a class="page-link link-primary-strong text-bg-primary-light" href="?page={{ page_obj.next_page_number }}{% for key, value in query_params.items %}&{{ key }}={{ value }}{% endfor %}">
                                            <i class="fi fi-rr-angle-right fs-4"></i>
                                        </a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link link-primary-strong text-bg-primary-light" href="?page={{ page_obj.paginator.num_pages }}{% for key, value in query_params.items %}&{{ key }}={{ value }}{% endfor %}">
                                            Última
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </nav>
                </section>
            {% endif %}
        </section>
    </section>

    <!-- Modal de confirmación eliminar producto -->
    <div class="modal fade" id="deleteProductModal" tabindex="-1" aria-labelledby="deleteProductModalLabel" aria-hidden="true" style="z-index: 9999;">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header border-0 bg-danger text-white-2">
                    <h5 class="modal-title" id="deleteProductModalLabel">Confirmar eliminación</h5>
                    <button type="button" class="btn-close bg-white-2" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body mt-2 mb-3">
                    ¿Estás seguro que deseas eliminar el producto "<span class="fw-bold" id="productNameSpan"></span>"?
                </div>
                <div class="modal-footer ">
                    <form id="deleteProductForm" method="post" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger text-white-2 hover-scale-1 shadow-sm">Si, eliminar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        function prepareDeleteModal(productId, productName) {
            document.getElementById('productNameSpan').textContent = productName;
            document.getElementById('deleteProductForm').action = "{% url 'productApp:product-deleted' '0' %}".replace('0', productId);
        }
    </script>

{% endblock product_list %}